.rooms p {
    color: #000;
    letter-spacing: 0.05vw;
    font-size: 1vw;
    line-height: 3vh;
    padding: 2vh 0;
}

.rooms h1,h2 {
    color: #000;
    font-family: OldStandard;
}

.explore-rooms {
    width: 100vw;
    height: 90vh;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f7f57a;
}

.explore-rooms h1 {
    width: 80vw;
    padding: 5vh;
}

.room-img {
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.room-img i {
    font-size: 1.5vw;
}

.img-container {
    display: flex;
    flex-direction: column;
}

.img-container img {
    width: 25vw;
}

.img-container span {
    font-family: OldStandard;
    font-weight: bold;
    padding: 2vh 0;

}

.rooms-testimonials {
    width: 100vw;
    height: 60vh;
    background-color: #ffffff;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rooms-testimonials h1 {
    width: 70vw;
    line-height: 7vh;
    font-size: 2vw;
}

.rooms-testimonials img {
    width: 22vw;
    position: absolute;
    top: -10vh;
    left: -5vw;
}

.rooms form {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #f9f7f5;
}

.rooms form h2 {
    font-size: 3vw;
}

.rooms form label {
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
}

.rooms form input {
    width: 15vw;
    height: 10vh;
    font-size: 2vw;
    text-align: center;
    background-color: transparent;
    border: 0;
}

.rooms form input:focus {
    outline: none;
}

.check-dates-container {
    padding: 5vh 0;
    display: flex;
    gap: 5vw;
}

.check-dates {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-avaiability-form-btn {
    width: 15vw;
    height: 8vh;
    font-size: 1.2vw;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
}